{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": true,
  "jsxBracketSameLine": false,
  "quoteProps": "as-needed",
  "eslintIntegration": true,
  "vscode": true
}
